@charset "UTF-8";
/***reset and contain*****/
/*
 * licodo.css
 * Roo namespace styles
*/
/**Begin reset**/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ol, li, dl {
  list-style-type: none;
  list-style-position: inside; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 10px; }

img {
  border: 0; }

/**End reset**/
/**Begin standard selectors**/
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #777;
  color: #333; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

div, input, button, select, textarea {
  outline: none; }

.btn {
  width: 50px;
  height: 26px;
  border-radius: 4px;
  text-align: center;
  border: 0px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: #eee 1px solid; }

/**End standard selectors**/
/**Begin licodo namespace selectors**/
#licodo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: url(../../img/licodo_bg.jpg); }

/***shell module*****/
/*
 * licodo.shell.css
 *
*/
.licodo-shell-head, .licodo-shell-contain, .licodo-shell-left,
.licodo-shell-right, .licodo-shell-classify,
.licodo-shell-task, .licodo-shell-text, .licodo-shell-info {
  position: absolute; }

/***head***/
.licodo-shell-head {
  top: 0;
  width: 100%;
  height: 48px;
  background: #25262a;
  -webkit-box-shadow: 1px 1px 5px #666;
  -moz-box-shadow: 1px 1px 5px #666;
  box-shadow: 1px 1px 5px #666; }
  .licodo-shell-head .licodo-shell-logo {
    position: relative;
    top: 18px;
    left: 10px;
    width: 100px;
    height: 23px;
    background: url(../../img/logo.png); }
  .licodo-shell-head .licodo-shell-links {
    position: relative;
    top: -12px;
    margin-right: 5%;
    float: right;
    width: 142px;
    height: 32px;
    background: url(../../img/link_sprite.png) no-repeat;
    overflow: hidden; }
    .licodo-shell-head .licodo-shell-links li {
      border-radius: 100%;
      position: absolute;
      top: 0; }
      .licodo-shell-head .licodo-shell-links li a {
        height: 32px;
        width: 32px;
        display: block; }

/*使用循环添加动画效果*/
#link-item1 {
  left: 0px; }
  #link-item1:hover {
    background: transparent url(../../img/link_sprite.png) no-repeat;
    -webkit-animation: link_bg1 300ms ease 0 both;
    -moz-animation: link_bg1 300ms ease 0 both;
    -o-animation: link_bg1 300ms ease 0 both;
    animation: link_bg1 300ms ease 0 both; }

#link-item2 {
  left: 55px; }
  #link-item2:hover {
    background: transparent url(../../img/link_sprite.png) no-repeat;
    -webkit-animation: link_bg2 300ms ease 0 both;
    -moz-animation: link_bg2 300ms ease 0 both;
    -o-animation: link_bg2 300ms ease 0 both;
    animation: link_bg2 300ms ease 0 both; }

#link-item3 {
  left: 110px; }
  #link-item3:hover {
    background: transparent url(../../img/link_sprite.png) no-repeat;
    -webkit-animation: link_bg3 300ms ease 0 both;
    -moz-animation: link_bg3 300ms ease 0 both;
    -o-animation: link_bg3 300ms ease 0 both;
    animation: link_bg3 300ms ease 0 both; }

/*定义动画*/
@-webkit-keyframes link_bg1 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -32px; } }
@-moz-keyframes link_bg1 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -32px; } }
@-o-keyframes link_bg1 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -32px; } }
@-ms-keyframes link_bg1 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -32px; } }
@keyframes link_bg1 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -32px; } }
@-webkit-keyframes link_bg2 {
  0% {
    background-position: -55px 0; }
  100% {
    background-position: -55px -32px; } }
@-moz-keyframes link_bg2 {
  0% {
    background-position: -55px 0; }
  100% {
    background-position: -55px -32px; } }
@-o-keyframes link_bg2 {
  0% {
    background-position: -55px 0; }
  100% {
    background-position: -55px -32px; } }
@-ms-keyframes link_bg2 {
  0% {
    background-position: -55px 0; }
  100% {
    background-position: -55px -32px; } }
@keyframes link_bg2 {
  0% {
    background-position: -55px 0; }
  100% {
    background-position: -55px -32px; } }
@-webkit-keyframes link_bg3 {
  0% {
    background-position: -110px 0; }
  100% {
    background-position: -110px -32px; } }
@-moz-keyframes link_bg3 {
  0% {
    background-position: -110px 0; }
  100% {
    background-position: -110px -32px; } }
@-o-keyframes link_bg3 {
  0% {
    background-position: -110px 0; }
  100% {
    background-position: -110px -32px; } }
@-ms-keyframes link_bg3 {
  0% {
    background-position: -110px 0; }
  100% {
    background-position: -110px -32px; } }
@keyframes link_bg3 {
  0% {
    background-position: -110px 0; }
  100% {
    background-position: -110px -32px; } }
/***module***/
.licodo-shell-contain {
  top: 48px;
  bottom: 0px;
  left: 0px;
  right: 0px; }
  .licodo-shell-contain .licodo-shell-classify {
    border: 2px solid #e4dad1;
    background: #fffcf6;
    -webkit-box-shadow: 1px 1px 5px #666;
    -moz-box-shadow: 1px 1px 5px #666;
    box-shadow: 1px 1px 5px #666;
    top: 2%;
    bottom: 2%;
    left: 1%;
    width: 240px; }
  .licodo-shell-contain .licodo-shell-task {
    border: 2px solid #e4dad1;
    background: #fffcf6;
    -webkit-box-shadow: 1px 1px 5px #666;
    -moz-box-shadow: 1px 1px 5px #666;
    box-shadow: 1px 1px 5px #666;
    top: 2%;
    bottom: 2%;
    left: 270px;
    width: 280px; }
  .licodo-shell-contain .licodo-shell-text {
    border: 2px solid #e4dad1;
    background: #fffcf6;
    -webkit-box-shadow: 1px 1px 5px #666;
    -moz-box-shadow: 1px 1px 5px #666;
    box-shadow: 1px 1px 5px #666;
    left: 580px;
    right: 3%;
    top: 8%;
    height: 84%; }

.licodo-shell-info {
  top: 0px;
  left: 50%;
  height: 40px;
  width: 160px;
  margin-left: -80px;
  background: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
  opacity: 0;
  filter: alpha(opacity=0); }

.licodo-mobile {
  display: none; }

/***classify module****/
/*
 * licodo.classify.css
 * classify Module for Licodo
*/
.licodo-classify-head,
.licodo-classify-main, .licodo-classify-add,
.licodo-classify-trash, .licodo-classify-newTitle {
  position: absolute;
  font-family: "Microsoft YaHei",微软雅黑,华文黑体,STHei,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

.licodo-classify-head {
  top: 0;
  left: 0;
  right: 0;
  height: 36px;
  padding: 10px 0 0 20px;
  background: #615652;
  color: #fffcf6;
  border-bottom: 1px solid #e4dad1; }

.licodo-classify-add {
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  border-top: 1px solid #e4dad1;
  color: #615652;
  cursor: pointer; }

.licodo-classify-newTitle {
  left: 45px;
  top: 8px; }

.licodo-classify-item {
  position: relative;
  color: #615652;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background: #fffcf6; }

.licodo-classify-item:hover .licodo-classify-itemDel, .licodo-classify-item:hover .licodo-classify-subItemDel {
  display: block; }

.licodo-classify-item:hover .licodo-classify-subItemDel {
  display: none; }

.licodo-classify-subItem:hover .licodo-classify-itemDel, .licodo-classify-subItem:hover .licodo-classify-subItemDel {
  display: none; }

.licodo-classify-subItem:hover .licodo-classify-subItemDel {
  display: block; }

.licodo-classify-item > .licodo-classify-itemName:before {
  content: '';
  position: absolute;
  background: url(../../img/folder.png) no-repeat;
  height: 12px;
  width: 14px;
  display: block;
  top: 14px;
  left: 18px; }

.licodo-classify-subItem > .licodo-classify-itemName:before {
  content: '';
  position: absolute;
  background: url(../../img/file.png) no-repeat;
  height: 15px;
  width: 12px;
  display: block;
  left: 28px; }

.licodo-classify-itemName, .licodo-classify-subItem > .licodo-classify-itemName {
  height: 36px;
  display: block;
  padding-left: 45px;
  padding-top: 10px;
  border-bottom: 1px solid #e4dad1;
  -webkit-tap-highlight-color: transparent; }

.licodo-classify-subItem > .licodo-classify-itemName {
  padding-left: 55px; }

.licodo-classify-itemDel, .licodo-classify-subItemDel {
  position: relative;
  font-size: 18px;
  cursor: pointer;
  float: right;
  top: -24px;
  right: 6px;
  width: 16px;
  height: 16px;
  text-align: center;
  display: none;
  background: url(../../img/del.png) no-repeat; }

.licodo-classify-subItemDel {
  top: -26px; }

.licodo-classify-subItem {
  color: #615652;
  cursor: pointer;
  background: #fffcf6; }

.licodo-classify-on {
  background: #fbf2e8; }

.licodo-classify-main {
  top: 36px;
  bottom: 36px;
  right: 0;
  left: 0;
  background: #fffcf6; }

.licodo-classify-subMain {
  position: relative;
  background: #fffcf6; }

.licodo-classify-trash {
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  border-top: 1px solid #e4dad1;
  color: #615652;
  padding: 10px 0 0 48px;
  background: url(../../img/trash.png) no-repeat 20px 8px;
  cursor: pointer; }

/***task module****/
/**
 * licodo.task.js
 * task module for Licodo
*/
.licodo-task-head,
.licodo-task-main, .licodo-task-add,
.licodo-task-new, .licodo-task-newTitle {
  position: absolute;
  font-family: "Microsoft YaHei",微软雅黑,华文黑体,STHei,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

.licodo-task-head {
  top: 0;
  left: 0;
  right: 0;
  height: 36px;
  background: #afaead;
  border-bottom: 1px solid #e4dad1;
  cursor: pointer; }
  .licodo-task-head li {
    width: 92px;
    height: 34px;
    float: left; }

.licodo-task-hall {
  background: url(../../img/all.png) no-repeat 30px 2px;
  -webkit-tap-highlight-color: transparent; }

.licodo-task-hdone {
  background: url(../../img/smlie.png) no-repeat 30px 2px;
  -webkit-tap-highlight-color: transparent; }

.licodo-task-hdoing {
  background: url(../../img/sad.png) no-repeat 30px 2px;
  -webkit-tap-highlight-color: transparent; }

.licodo-task-processOn {
  background-color: #615652; }

.licodo-task-main {
  top: 36px;
  bottom: 36px;
  right: 0;
  left: 0; }
  .licodo-task-main .licodo-task-time {
    width: 100%;
    height: 36px;
    background: #fbf2e9;
    color: #615652;
    padding-top: 8px;
    padding-left: 20px;
    margin: 0;
    border-bottom: 1px solid #e4dad1; }

.licodo-task-item {
  height: 36px;
  color: #615652;
  padding-top: 8px;
  padding-left: 40px;
  border-bottom: 1px solid #e4dad1;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

.licodo-task-done {
  color: #b0afad; }

.licodo-task-on {
  background: #ecebe9; }

.licodo-task-noTask {
  margin: 10px auto;
  color: #615652; }

.licodo-task-new {
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  border-top: 1px solid #e4dad1;
  color: #615652;
  cursor: pointer; }

.licodo-task-add {
  top: 3px;
  left: 16px;
  font-size: 24px;
  height: 24px;
  line-height: 24px; }

.licodo-task-newTitle {
  left: 45px;
  top: 8px; }

/***text module***/
/*
 *  licodo.text.css
 *  text module for Licodo
*/
.licodo-text-head,
.licodo-text-title, .licodo-text-icon,
.licodo-text-time, .licodo-text-editor,
.licodo-text-inputTitle, .licodo-text-inputTime,
.licodo-text-area, .licodo-text-content {
  position: absolute;
  font-family: "Microsoft YaHei",微软雅黑,华文黑体,STHei,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px; }

.licodo-text-head {
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  color: #fffcf6;
  background: #615652;
  border-bottom: 1px solid #e4dad1; }
  .licodo-text-head .licodo-text-title {
    font-size: 18px;
    top: 15px;
    bottom: 0px;
    left: 20px;
    right: 120px; }
  .licodo-text-head .licodo-text-icon {
    top: 10px;
    right: 10px; }
  .licodo-text-head li {
    float: left;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    cursor: pointer; }
  .licodo-text-head #licodo-text-true {
    background: url(../../img/true.png); }
  .licodo-text-head #licodo-text-edit {
    background: url(../../img/edit.png); }

.licodo-text-time {
  top: 46px;
  left: 0px;
  right: 0px;
  padding: 10px  0  0 20px;
  height: 40px;
  color: #635752;
  background: #fbf2e8; }

.licodo-text-editor {
  top: 86px;
  left: 0px;
  right: 0px;
  bottom: 0px; }

.licodo-text-content {
  top: 0;
  left: 20px;
  right: 0px;
  bottom: 0px;
  padding-top: 10px;
  color: #615652;
  font-size: 16px; }

/**subhtml**/
.licodo-text-inputTitle {
  font-size: 18px;
  border: none;
  top: -15px;
  height: 44px;
  width: 100%;
  color: #fffcf6;
  background: #615652; }

.licodo-text-confirm {
  background: #ce0619;
  margin-left: 10px;
  color: #fff;
  border: 1px solid #80706a; }

.licodo-text-cancel {
  background: #fff;
  margin-left: 10px;
  border: 1px solid #80706a; }

.licodo-text-inputTime {
  font-size: 16px;
  border: none;
  top: 0px;
  height: 38px;
  width: 65%;
  color: #635752;
  background: #fbf2e8; }

.licodo-text-area {
  border: none;
  color: #615652;
  background: #fffcf6;
  top: 0;
  bottom: 0;
  right: 0;
  left: 3%;
  width: 97%;
  height: 100%; }

/***overlay module***/
/*
 * licodo.overlay.css
 * overlay module for licodo
*/
.licodo-overlay, .licodo-overlay-page,
.licodo-overlay-title, .licodo-overlay-info,
.licodo-overlay-action, .licodo-overlay-delete, .licodo-overlay-input {
  position: absolute; }

.licodo-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(252, 242, 232, 0.5); }

.licodo-overlay-page {
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -55px;
  width: 350px;
  height: 110px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px #666;
  background: #fff; }

.licodo-overlay-title {
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  background: #fbf2e8; }

.licodo-overlay-info {
  left: 15px;
  top: 25px; }

.licodo-overlay-action {
  top: 70px;
  right: 30px; }

.licodo-overlay-confirm {
  background: #ce0619;
  margin-left: 10px;
  color: #fff; }

.licodo-overlay-cancel {
  background: #fff; }

.licodo-overlay-delete {
  right: 5px;
  top: 5px;
  background: #e4dad1;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  text-align: center;
  color: #fffcf6;
  cursor: pointer;
  line-height: 18px; }
  .licodo-overlay-delete:hover {
    background: #615652; }

.licodo-overlay-input {
  top: 22px;
  left: 135px;
  height: 22px;
  border-radius: 3px;
  border: 1px solid #999; }

/***fit mobile***/
@media screen and (max-width: 860px) {
  /***module***/
  .licodo-shell-contain {
    top: 66px;
    bottom: 8%;
    left: 4%;
    right: 4%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s; }
    .licodo-shell-contain .licodo-shell-classify {
      border: 2px solid #e4dad1;
      background: #fffcf6;
      -webkit-box-shadow: 1px 1px 5px #666;
      -moz-box-shadow: 1px 1px 5px #666;
      box-shadow: 1px 1px 5px #666;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      width: 100%; }
    .licodo-shell-contain .licodo-shell-task {
      border: 2px solid #e4dad1;
      background: #fffcf6;
      -webkit-box-shadow: 1px 1px 5px #666;
      -moz-box-shadow: 1px 1px 5px #666;
      box-shadow: 1px 1px 5px #666;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      width: 100%; }
    .licodo-shell-contain .licodo-shell-text {
      border: 2px solid #e4dad1;
      background: #fffcf6;
      -webkit-box-shadow: 1px 1px 5px #666;
      -moz-box-shadow: 1px 1px 5px #666;
      box-shadow: 1px 1px 5px #666;
      top: 5%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      width: 100%;
      z-index: 10; }

  .licodo-classify-itemDel, .licodo-classify-subItemDel {
    display: block; }

  .licodo-classify-item:hover .licodo-classify-subItemDel {
    display: block; }

  .licodo-classify-add {
    display: none; }

  .licodo-task-new {
    display: none; }

  .licodo-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(252, 242, 232, 0.4);
    z-index: 99; }
    .licodo-overlay .licodo-overlay-page {
      left: 50%;
      top: 1px;
      margin-left: -140px;
      margin-top: 0px;
      width: 280px;
      height: 60px;
      border-radius: 8px;
      box-shadow: 0px 0px 20px #666;
      background: #fff; }

  .licodo-overlay-title {
    font-size: 16px;
    left: 0;
    right: 0;
    top: 0;
    height: 48px;
    background: #fbf2e8; }

  .licodo-overlay-info {
    left: 15px;
    top: 8px; }

  .licodo-overlay-action {
    top: 30px;
    right: 30px; }

  .licodo-overlay-confirm {
    background: #ce0619;
    margin-left: 10px;
    color: #fff; }

  .licodo-overlay-cancel {
    background: #fff; }

  .licodo-overlay-delete {
    right: 5px;
    top: 5px;
    background: #e4dad1;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    text-align: center;
    color: #fffcf6;
    cursor: pointer;
    line-height: 18px; }
    .licodo-overlay-delete:hover {
      background: #615652; }

  .licodo-mobile {
    display: block;
    position: absolute;
    height: 6%;
    width: 180px;
    bottom: 0;
    margin-left: -90px;
    left: 50%;
    background: #ecf1f4;
    background: -moz-linear-gradient(top, rgba(4, 4, 1, 0.2) 0%, rgba(50, 29, 7, 0.3) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(4, 4, 1, 0.2)), color-stop(100%, rgba(50, 29, 7, 0.3)));
    background: -webkit-linear-gradient(top, rgba(4, 4, 1, 0.2) 0%, rgba(50, 29, 7, 0.3) 100%);
    background: -o-linear-gradient(top, rgba(4, 4, 1, 0.2) 0%, rgba(50, 29, 7, 0.3) 100%);
    background: -ms-linear-gradient(top, rgba(4, 4, 1, 0.2) 0%, rgba(50, 29, 7, 0.3) 100%);
    background: linear-gradient(to bottom, rgba(4, 4, 1, 0.2) 0%, rgba(50, 29, 7, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0401', endColorstr='#321d07',GradientType=0 );
    -webkit-box-shadow: 1px 1px 5px #666;
    -moz-box-shadow: 1px 1px 5px #666;
    box-shadow: 1px 1px 5px #666;
    -webkit-tap-highlight-color: transparent; }
    .licodo-mobile li {
      height: 100%;
      width: 60px;
      float: left;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent; }
    .licodo-mobile .licodo-mobile-classify {
      background: url(../../img/classify.png) no-repeat center;
      -webkit-tap-highlight-color: transparent; }
    .licodo-mobile .licodo-mobile-task {
      background: url(../../img/task.png) no-repeat center;
      -webkit-tap-highlight-color: transparent; }
    .licodo-mobile .licodo-mobile-text {
      background: url(../../img/text.png) no-repeat center;
      -webkit-tap-highlight-color: transparent; }

  .licodo-mobile-on {
    box-shadow: 0px 3px 10px #fff;
    -webkit-tap-highlight-color: transparent; }

  .pre-pre-page {
    opacity: 0;
    -webkit-transform: rotateY(-180deg) translateZ(50px);
    -moz-transform: rotateY(-180deg) translateZ(50px);
    -ms-transform: rotateY(-180deg) translateZ(50px);
    -o-transform: rotateY(-180deg) translateZ(50px);
    transform: rotateY(-180deg) translateZ(50px);
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s; }

  .pre-page {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateZ(50px);
    -moz-transform: rotateY(-90deg) translateZ(50px);
    -ms-transform: rotateY(-90deg) translateZ(50px);
    -o-transform: rotateY(-90deg) translateZ(50px);
    transform: rotateY(-90deg) translateZ(50px);
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s; }

  .current-page {
    -webkit-transform: rotateY(0deg) translateZ(50px);
    -moz-transform: rotateY(0deg) translateZ(50px);
    -ms-transform: rotateY(0deg) translateZ(50px);
    -o-transform: rotateY(0deg) translateZ(50px);
    transform: rotateY(0deg) translateZ(50px);
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s; }

  .next-page {
    opacity: 0;
    -webkit-transform: rotateY(90deg) translateZ(50px);
    -moz-transform: rotateY(90deg) translateZ(50px);
    -ms-transform: rotateY(90deg) translateZ(50px);
    -o-transform: rotateY(90deg) translateZ(50px);
    transform: rotateY(90deg) translateZ(50px);
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s; }

  .next-next-page {
    opacity: 0;
    -webkit-transform: rotateY(180deg) translateZ(50px);
    -moz-transform: rotateY(180deg) translateZ(50px);
    -ms-transform: rotateY(180deg) translateZ(50px);
    -o-transform: rotateY(180deg) translateZ(50px);
    transform: rotateY(180deg) translateZ(50px);
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s; } }
