@charset "UTF-8";
/*
 * licodo.classify.css
 * classify Module for Licodo
*/
.licodo-classify-head,
.licodo-classify-main, .licodo-classify-add,
.licodo-classify-trash, .licodo-classify-newTitle {
  position: absolute;
  font-family: "Microsoft YaHei",微软雅黑,华文黑体,STHei,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

.licodo-classify-head {
  top: 0;
  left: 0;
  right: 0;
  height: 36px;
  padding: 10px 0 0 20px;
  background: #615652;
  color: #fffcf6;
  border-bottom: 1px solid #e4dad1; }

.licodo-classify-add {
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  border-top: 1px solid #e4dad1;
  color: #615652;
  cursor: pointer; }

.licodo-classify-newTitle {
  left: 45px;
  top: 8px; }

.licodo-classify-item {
  position: relative;
  color: #615652;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background: #fffcf6; }

.licodo-classify-item:hover .licodo-classify-itemDel, .licodo-classify-item:hover .licodo-classify-subItemDel {
  display: block; }

.licodo-classify-item:hover .licodo-classify-subItemDel {
  display: none; }

.licodo-classify-subItem:hover .licodo-classify-itemDel, .licodo-classify-subItem:hover .licodo-classify-subItemDel {
  display: none; }

.licodo-classify-subItem:hover .licodo-classify-subItemDel {
  display: block; }

.licodo-classify-item > .licodo-classify-itemName:before {
  content: '';
  position: absolute;
  background: url(../../img/folder.png) no-repeat;
  height: 12px;
  width: 14px;
  display: block;
  top: 14px;
  left: 18px; }

.licodo-classify-subItem > .licodo-classify-itemName:before {
  content: '';
  position: absolute;
  background: url(../../img/file.png) no-repeat;
  height: 15px;
  width: 12px;
  display: block;
  left: 28px; }

.licodo-classify-itemName, .licodo-classify-subItem > .licodo-classify-itemName {
  height: 36px;
  display: block;
  padding-left: 45px;
  padding-top: 10px;
  border-bottom: 1px solid #e4dad1;
  -webkit-tap-highlight-color: transparent; }

.licodo-classify-subItem > .licodo-classify-itemName {
  padding-left: 55px; }

.licodo-classify-itemDel, .licodo-classify-subItemDel {
  position: relative;
  font-size: 18px;
  cursor: pointer;
  float: right;
  top: -24px;
  right: 6px;
  width: 16px;
  height: 16px;
  text-align: center;
  display: none;
  background: url(../../img/del.png) no-repeat; }

.licodo-classify-subItemDel {
  top: -26px; }

.licodo-classify-subItem {
  color: #615652;
  cursor: pointer;
  background: #fffcf6; }

.licodo-classify-on {
  background: #fbf2e8; }

.licodo-classify-main {
  top: 36px;
  bottom: 36px;
  right: 0;
  left: 0;
  background: #fffcf6; }

.licodo-classify-subMain {
  position: relative;
  background: #fffcf6; }

.licodo-classify-trash {
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  border-top: 1px solid #e4dad1;
  color: #615652;
  padding: 10px 0 0 48px;
  background: url(../../img/trash.png) no-repeat 20px 8px;
  cursor: pointer; }
